.nav_header_home{
    display: flex;
    justify-content: start;
    margin-top: 3px;
    width: 100%;
    background-color: rgb(209, 181, 114);
    padding-left: 1em;
    height: 60px;
}

.ul_header_home{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    cursor: pointer;
}

.li_header_home{
    color: rgb(43, 152, 152);
    width: 95px;
    display: flex;
    justify-content: center;
    
}

.container_pages{
    color: rgb(7, 0, 0);
    background-color: aqua;
    padding-top: 3 em;
    padding-bottom: 3 em;
    
}
.container_categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 1 em;
    margin-bottom: 1 em;
}