
.AcercaDe {
  /*background-image: linear-gradient(to right, rgb(28, 27, 27), rgb(65, 62, 56), rgb(51, 55, 90), rgb(50, 38, 129), rgba(40, 41, 140, 255), rgb(100, 47, 137), rgb(107, 64, 107));*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../image/fondoAcerca.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

.title_acerca,
.title_about,
.text-marcas {
  color: #333;
}

.card {
  border: 4px solid #00BFFF;
  background-color: #448194;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: auto;
}

.card-img {
  width: 30%;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
}

.cards {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  z-index: 1;
  background-color: #4489b2;
}

#container-card {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.title_acerca {
  color: rgb(16, 16, 17);
  text-shadow: #00BFFF;
}

.title_about {
  color: rgb(255, 255, 255);
}

.card-text {
  color: rgb(223, 216, 216);
}

.text-marcas {
  color: rgb(236, 243, 243);
}

#container-card {
  z-index: 1;
}

/* Estilos para las tarjetas de servicios */
.servicio-card {
  background-color: rgb(12, 12, 12); /* Fondo blanco */
  border: 1px solid #ccc; /* Contorno gris */
  border-radius: 10px; /* Borde redondeado */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicio-card img {
  max-width: 100%; /* Ancho máximo de la imagen */
  max-height: 100%; /* Altura máxima de la imagen */
  border-radius: 10px; /* Borde redondeado */
}

/* Estilos para las tarjetas de las marcas */
.marca-card {
  background-color: rgb(24, 98, 121); /* Fondo blanco */
  border: 1px solid #1e896e; /* Contorno gris */
  border-radius: 800px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marca-card img {
  max-width: 100%; /* Ancho máximo de la imagen */
  max-height: 100%; /* Altura máxima de la imagen */
  border-radius: 10px; /* Borde redondeado */
}

/* Estilos para pantallas más pequeñas, como smartphones */
@media only screen and (max-width: 600px) {
  .title_acerca,
  .title_about,
  .text-marcas {
    font-size: 1.5rem; /* Ajustar el tamaño del texto */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .row {
    flex-wrap: wrap; /* Envolver elementos en columnas */
    justify-content: center; /* Centrar elementos en el eje principal */
  }

  .col-md-4 {
    flex: 0 0 100%; /* Ancho completo para la imagen */
    max-width: 100%; /* Ancho máximo */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  #container-card {
    padding-left: 0; /* Eliminar el relleno izquierdo */
  }

  .cards {
    text-align: center; /* Centrar el contenido */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .cards img {
    width: 80%; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin: 0 auto; /* Centrar la imagen */
  }
  
}


@media (min-width: 992px) {
  .card-img {
    padding: 20px;
  }

  #container-card {
    padding: 20px;
  }

  .cards {
    height: 100%;
  }

  .card-text {
    font-size: 16px;
    /* Tamaño de fuente para pantallas medianas */
  }

  .card-body {
    padding: 15px;
    /* Espaciado dentro de la tarjeta en pantallas medianas */
  }
}

@media (min-width: 1200px) {
  .row.mt-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .col-md-4.card-img {
    width: 30%;
    padding: 30px;
  }

  .col-md-8 {
    width: 60%;
  }

  #container-card {
    padding: 20px;
  }

  .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #448194;
    margin-bottom: 20px;
  }

  .card-body {
    padding: 50px;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  .card-text {
    font-size: 1.1rem;
    color: #141313;
    line-height: 1.5;
  }

  .card-img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}