.container_ct{
    color: white;
}

.producto_color{
    display: flex;
    flex-direction: column;
    max-width: 470px;
    height: 430px;
    background-color: rgb(161, 182, 72,.5);
    padding: 1em;
    gap: 20px;
    color: #fff;
    border-radius: 1em;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: 8px 5px 8px rgb(73, 71, 71);
    border: 1px solid black;
}

.producto__info-datos{
    gap: 10px;
}
